<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>saveUser</title>
</head>
<body>
<br>
<form th:action="@{/admin/saveUser}" th:object="${user}" th:method="POST">

    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <label>Roles</label>
    <select th:field="*{roles}" multiple>
        <option th:each="role : ${rolesList}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <br>
    <input type="submit" value="Save"/>
</form>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Exit">
</form>
</body>
</html>
