<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> profile User</title>
</head>
<body>
<h2>profileUser</h2>
<br>

<p>Имя: <span th:text="${user.name}"></span></p>
<p>Фамилия: <span th:text="${user.surname}"></span></p>
<p>Возраст: <span th:text="${user.age}"></span></p>
<p>Логин: <span th:text="${user.username}"></span></p>


<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Exit">
</form>
</body>
</html>